{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<script src="{% static "dnasearch.js" %}"></script>
<h3 class="subtitle">Start a DNA Search</h3>
<form id="dna_search_form">
    <label for="search_string">DNA Search String (eg. ACTG)</label>
    <br/>
    <textarea name="search_string" id="search_string"> </textarea>
    <br/>
    <button>Search</button>
</form>
<hr>
<h3 class="subtitle">DNA Searches</h3>
<table id="dna_search_results" class="table">

</table>
{% else %}
<p>
    We don't recognize you, login to search some DNA.
</p>
{% endif %}
{% endblock %}